*                                                        @openrailassociation/OSRD-DevOps

# --- CODEOWNERS ---
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins
